.containerCozy-jafyvG:not(:last-child),
.container-1YxwTf:last-child {
  background-color: var(--quaternary-color) !important;
  padding: 10px 0px 10px 24px !important;
  margin: 0px 0px 10px 60px;
  border-radius: 10px;
}

.container-1YxwTf .headerCozy-2N9HOL {
  margin-left: -80px;
}

.container-1YxwTf .headerCozy-2N9HOL .wrapper-2F3Zv8 {
  margin-left: 0px !important;
  margin-right: 20px !important;
}

.contentCozy-3XX413 {
  margin-left: -20px !important;
}

.containerCozy-jafyvG .large-3ChYtB.wrapper-2F3Zv8:after {
content: ' ';
height: 0;
width: 0;
border: 9px solid transparent;
border-right-color: var(--quaternary-color);
position: absolute;
margin-top: -100% !important;
margin-left: 10-% !important;
}
.messagesPopoutWrap-1MQ1bW .container-1YxwTf .headerCozy-2N9HOL {margin-left: -20px !important;}
.messagesPopoutWrap-1MQ1bW .container-1YxwTf:last-child {margin-left: 0px !important;}
.messagesPopoutWrap-1MQ1bW .contentCozy-3XX413 { margin-left: 40px !important;}
.messagesPopoutWrap-1MQ1bW .containerCozy-jafyvG .large-3ChYtB.wrapper-2F3Zv8:after{ display:none;}
.messagesPopoutWrap-1MQ1bW .headerCozy-2N9HOL .wrapper-2F3Zv8 {margin-left: 0px !important;margin-right: 10px !important;}
