/**
 * @name          Discord Reborn
 * @description  Transparent, fully customizable theme.
 * @author       Izy
 * @version      2.0
 * @source       https://rawcdn.githack.com/squee666/Discord-Themes/refs/heads/master/css/Discord%20Reborn.css
 * @invite       r59DjpaDHD
 * @authorId     107511169366888448
 */

/* IMPORT CSS FROM GITHUB */
@import url("https://cdn.jsdelivr.net/gh/squee666/Discord-Themes@refs/heads/master/css/Discord%20Reborn.css");
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
IMPORTANT: EVERY URL MUST BE HTTPS:// IN ORDER TO WORK IN DISCORD
===== CUSTOMIZABLE COLORS / IMAGES =====
*/
:root { 
--mc: #ba9bba !important;                                   /*Main Colour*/     
--hc: #8c748c !important;                                   /*Hover Colour*/          
--BG: url("https://webusstatic.yo-star.com/ark_us_web/assets/160092752475215969/d4335118b5889f2a5e8613b199525613.png?raw=true") !important;    /*Wallpaper*/   
--RB: rgba(0,0,0,0.65) !important;                          /*Reborn Transparency Higher is Darker*/  
--RBT: rgba(0,0,0,0.75) !important;                         /*Reborn Transparency For Popouts*/ 
--br: 50% !important;                                       /*RoundNess of Icons*/    

background-image: url("https://webusstatic.yo-star.com/ark_us_web/assets/160092752475215969/d4335118b5889f2a5e8613b199525613.png?raw=true");
background-size: cover;
.reaction__23977 .emoji {
    height: 1.75rem;
    margin: .125rem 0;
    min-height: auto;
    min-width: auto;
    width: 1.75rem;
    background-color: transparent;
    border-radius: 0px;
}
.reactionMe__23977 {
    background: transparent !important;
    border-radius: 10px;
    opacity: 1 !important;
    border-color: transparent;
}
.displayName__26b1f,.username__05e81,.userTag__26b1f,.usernameAndPronounsRow__26b1f{
    text-align: left;
    float: left;
}
.menu_c1e9c4 {
    background-color: rgba(186, 155, 186, 0.4);
}
 }
 /*
===== CREDITS =====
POUT
DINGUS
Gibbu
BEARDDESIGN
Monster
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
*/
