//META{"name":"Reborn","description":"A nice sleek transparent theme.","author":"Izy","version":"0.0"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/squee666/Discord-Themes/master/css/Discord%20Reborn.css");
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
IMPORTANT: EVERY URL MUST BE HTTPS:// IN ORDER TO WORK IN DISCORD
===== CUSTOMIZABLE COLORS / IMAGES =====
*/
:root { 
	--mc: #007dbd;
	--hc: #03679b;
	--RB: rgba(0, 0, 0, 0.7) !important;
	--BG: url("https://imgur.com/RG03PyX.png") !important;
 }
 /*
===== CREDITS =====
URI
POUT
DINGUS
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
IF YOU NEED ANY HELP GO TO THE HELP GO TO https://discord.gg/Q8U53Nd
---------------------------------------------------------------------------------------------------------------------------------------------
*/
