/**
 * @name         Quiet
 * @description  Transparent, fully customizable theme.
 * @author       Izy
 * @version      2.0
 * @source       https://github.com/monstrousdev/themes/theme-files/Quiet.theme.css
 * @invite       TeRQEPb
 * @authorId     107511169366888448
 */

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/squee666/Discord-Themes/master/css/Quiet.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root{
--mc: #cc1444 !important;                                   /*Main Colour*/     
--hc: #770425 !important;                                   /*Hover Colour*/       
--br: 50px !important;                                       /*RoundNess of Icons*/    
--QT: #19191b ;                                             /*Quiet Theme Colour*/    
--QTD: #121213;                                             /*Quiet Off Parts Colour*/   
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 
